* {
	box-sizing: border-box;
	background-color: black;
}

.main {
	color: white;
	padding: 10px;
	height: 100%;
	width: 50%;
	margin: auto;
}

.right {
	display: grid;
	grid-template-rows: auto auto auto;
	align-content: space-evenly;
}

.left {
	color: white;
	display: grid;
	grid-template-rows: auto auto;
	padding: 10px;
	margin: auto;
	align-content: space-evenly;
}

.grid-item {
	padding: 5px;
	font-size: 30px;
	text-align: center;
}

