* {
	box-sizing: border-box;
}

.main {
	display: grid;
	grid-template-columns: 100% auto;
	padding: 10px;
	height: 100%;
	width: 50%;
	margin: auto;
	align-content: space-evenly;
}

.grid-item {
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
}

.game {
	grid-column: 2;
	grid-row: 2/span 2;
}